@page
@using UnapecErpData.Model
@using EstadoDocumento = UnapecErpData.Enums.EstadoDocumento
@model UnapecErpWeb.Pages.Documento.IndexModel

<div class="container" style="margin-bottom: 25px;">
    <form>
        <div class="form-row">
            <div class="form-group row col-md-4">
                <label asp-for="DocumentoSearch.Numero" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="DocumentoSearch.Numero" class="form-control" />
                </div>
            </div>
            <div class="form-group row col-md-4">
                <label asp-for="DocumentoSearch.NumeroFactura" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="DocumentoSearch.NumeroFactura" class="form-control" />
                </div>
            </div>
            <div class="form-group row col-md-4">
                <label asp-for="DocumentoSearch.EstadoDocumentoId" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <select asp-for="DocumentoSearch.EstadoDocumentoId" asp-items="Html.GetEnumSelectList<EstadoDocumento>()" class="form-control">
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group row col-md-4">
                <label asp-for="DocumentoSearch.FechaDesde" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="DocumentoSearch.FechaDesde" class="form-control"/>
                </div>
            </div>
            <div class="form-group row col-md-4">
                <label asp-for="DocumentoSearch.FechaHasta" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input asp-for="DocumentoSearch.FechaHasta" class="form-control"/>
                </div>
            </div>
            <div class="form-group row col-md-4">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" id="btnBuscarDocumento" onclick="searchDocumentos()">Buscar</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" data-toggle='modal' data-target='#crearDocumentoModal'>Nuevo</button>
                </div>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documento[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento[0].Factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento[0].Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento[0].Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento[0].Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="documentosList">
    </tbody>
</table>
<partial name="_Create" model="new Documento{Fecha = DateTime.Today}"/>
@section Scripts{
    <script src="js/Documentos.js"></script>
    @*<script src="js/CrearDocumento.js"></script>*@
}
